<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-6">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Email
        </th>
        <th scope="col" class="px-6 py-3">
          Amount
        </th>
        <th scope="col" class="px-6 py-3">
          Country
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
      </tr>
    </thead>
    <tbody>

      {{#each data}}
        <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">

          <th
            scope="row"
            class="px-6 py-4 font-semibold text-gray-700 whitespace-nowrap dark:text-white"
          >
            {{billing_details.name}}
          </th>
          <td class="px-6 py-4">
            {{id}}
          </td>
          <td class="px-6 py-4">
            {{billing_details.email}}
          </td>
          <td class="px-6 py-4 font-bold text-red-300">
            {{amount}}
          </td>
          <td class="px-6 py-4">
            {{billing_details.address.country}}
          </td>

          <td class="px-6 py-4">
            <p
              class="bg-green-400 text-white font-bold py-1 text-center rounded-lg"
            >{{status}}</p>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>