<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-3">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-l-lg">
                    Information
                </th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white dark:bg-gray-800 border-b-4">
                <th scope="row" class="px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Total Number of Registered Alumni in <b>{{faculty.department}}</b> Department
                </th>
                <td class="py-4">
                    <b>{{alumniCount}}</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="grid grid-cols-3 gap-4 mb-10">
  {{#each alumni}}
    <div class="flex flex-col items-center p-6 border border-gray-300 shadow-lg">
     {{#if imageUrl}}
       <img
        class="w-28 h-28 mb-3 rounded-full object-cover shadow-lg"
        src="/uploads/{{imageUrl}}"
        alt="image"
      />
     {{else}}
       <img
        class="w-28 h-28 mb-3 rounded-full object-cover shadow-lg"
        src="/img/user_avatar.png"
        alt="Default Profile"
      />
     {{/if}}
      <h5
        class="mb-1 text-xl font-semibold text-gray-900 dark:text-white"
      >{{firstname}} {{lastname}}</h5>
      <span class="text-lg text-gray-500 dark:text-gray-400">{{email}}</span>
      <span class="text-md text-gray-500 dark:text-gray-400">{{batch}}</span>
      <span
        class="text-md text-gray-500 dark:text-gray-400"
      >{{startyear}}-{{endyear}}</span>
      <div class="flex mt-4 md:mt-6">
        <a
          href="/faculty/all-alumni/{{_id}}"
          class="inline-flex items-center px-6 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >View More</a>
      </div>
    </div>
  {{/each}}
</div>
